<h4 class="column">Available Items</h4>
			<div class="column">
			  <ul class="items-grid no-bullet row">
				<% @items.each do |item| %>
				  <li class="large-3 medium-4 small-12 column">
					<div class="item-card padly">
					  
					  <div class="item-info ell glassy-bg padmy padlx">
						<div class="title">
						  <h6><%= item.name %> </h6>
						</div>
						<p class="left price label item-label radius">$ <%= item.price %></p>
						
					  </div>
					</div>
				  </li>
				<% end %>
			  </ul>
			</div>

<br>

<%= link_to 'New Item', new_item_path %>
